h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}

.site-header {
  display: flex;
  align-items: center;
  background-color: #003057;
  padding: 16px;
}

.logo {
  height: 60px;
  margin-right: 16px;
}

.site-header h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
}
